<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ImpecableJB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/footer.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <style>
        .underlineHover:after {
            display: block;
            left: 0;
            bottom: -10px;
            width: 0;
            height: 2px;
            background-color: #5fbae9;
            content: "";
            transition: width 0.2s;
        }

        .underlineHover:hover {
            color: #0d0d0d;
        }

            .underlineHover:hover:after {
                width: 100%;
            }

        body::-webkit-scrollbar {
            width: 0.50rem;
        }

        body::-webkit-scrollbar-track {
            background: #b3d7ff;
        }

        body::-webkit-scrollbar-thumb {
            background: #3392ff;
        }
    </style>
</head>
<body style="background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%)">
    <div class="navbar navbar-expand-sm navbar-light fixed-top shadow p-3 mb-5" style="background-image: linear-gradient(to left, #accbee 0%, #e7f0fd 100%); ">
        <div class="navbar-collapse collapse justify-content-lg-start">
            <ul class="nav navbar-nav">
                @*Usuario no autentificado*@
                @if (Session["Usuario"] == null)
                {
                    <li class="nav-item underlineHover">
                        <a class="nav-link active" href="@Url.Action("MuestraProductos","Productos")" style="font-size: large; color: #666666 ">
                            <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                home
                            </span> Inicio
                        </a>
                    </li>
                    <li class="nav-item underlineHover">
                        <a class="nav-link active" href="@Url.Action("RegistroCliente","Usuario")" style="font-size:large;color:#666666">
                            <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                description
                            </span> Registrate acá
                        </a>
                    </li>
                }
                else
                {
                    @*Usuario ADMINISTRADOR autentificado*@
                    if (Session["Rol"].Equals("Administrador"))
                    {
                        <li class="nav-item dropdown underlineHover">
                            <a class="nav-link dropdown-toggle active" id="navbarUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:large;color:#666666">
                                <img src="~/Content/Icons/account.png" style="width:30px" /> @Session["Nombre"]
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarUsuario">
                                <a class="dropdown-item" href="@Url.Action("RegistroCliente", "Usuario", new { id=Session["Usuario"]})" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        person_add
                                    </span> Registrar usuarios
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ListaUsuarios", "Usuario", new { id=Session["Usuario"] })" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        folder_shared
                                    </span> Lista de usuarios
                                </a>
                                <a class="dropdown-item" href="@Url.Action("PedidosUsuarios", "Pedido", new { id=Session["Usuario"]})" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        style
                                    </span> Pedidos de usuarios
                                </a>
                                <a class="dropdown-item" href="@Url.Action("DetallesUsuario", "Usuario",new { id= Session["Usuario"] })" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        contact_mail
                                    </span> Detalles del usuario
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ModificarContrasena", "Usuario", new { id=Session["Usuario"]})" style="font-size: large; color: #666666 ">
                                    <i class="fa fa-layer-group"></i> Cambiar contraseña
                                </a>
                            </div>
                        </li>
                        <li class="nav-item dropdown underlineHover">
                            <a class="nav-link active dropdown-toggle" id="navbarCupones" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:large;color:#666666">
                                <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                    local_offer
                                </span> Control de cupones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarCupones" style="background-color: #e6f3ff">
                                <a class="dropdown-item" href="@Url.Action("RegistrarCupones", "Cupones")" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        folder_special
                                    </span> Registar cupones
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ListaCupones", "Cupones")" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        menu_book
                                    </span> Listado de cupones
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                    @*Usuario CLIENTE autentificado*@
                        <li class="nav-item dropdown underlineHover">
                            <a class="nav-link dropdown-toggle active" id="navbarUsuario" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:large;color:#666666"><i class="fa fa-user fa-lg"></i> @Session["Nombre"]</a>
                            <div class="dropdown-menu" aria-labelledby="navbarUsuario">
                                <a class="dropdown-item" href="@Url.Action("DetallesUsuario", "Usuario",new { id= Session["Usuario"] })" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        contact_mail
                                    </span> Detalles del usuario
                                </a>
                                <a class="dropdown-item" href="@Url.Action("PedidosUsuarios", "Pedido", new { id=Session["Usuario"]})" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        style
                                    </span> Historial de pedidos
                                </a>
                                <a class="dropdown-item" href="@Url.Action("ModificarContrasena", "Usuario", new { id=Session["Usuario"]})" style="font-size: large; color: #666666 ">
                                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                        vpn_key
                                    </span> Cambiar contraseña
                                </a>
                            </div>
                        </li>
                        <li class="nav-item underlineHover">
                            <a class="nav-link active" href="@Url.Action("MuestrarioCupones","Cupones",new { id=Session["Usuario"]})" style="font-size:large;color:#666666">
                                <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                    menu_book
                                </span> Cupones disponibles
                            </a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" id="navbarNivel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @*href="@Url.Action("DetalleRango", "Nivel", new { idNivel = Session["Rango"] })"*@><img src="@Url.Content(Session["ImagenRango"].ToString())" style="width:40px" /></a>
                            <div class="dropdown-menu" aria-labelledby="navbarNivel">
                                <img class="dropdown-item" src="~/Content/Rangos/Sin Rango.png" style="width:20px" />
                                <img class="dropdown-item" src="~/Content/Rangos/Bronce.png" style="width:20px" /> <h5 class="dropdown-item-text">Beneficios</h5>
                                <img class="dropdown-item" src="~/Content/Rangos/Plata.png" style="width:20px" />
                                <img class="dropdown-item" src="~/Content/Rangos/Oro.png" style="width:20px" />
                                <img class="dropdown-item" src="~/Content/Rangos/Diamante.png" style="width:20px" />
                            </div>
                        </li>

                    }
                }
            </ul>
        </div>
        <div class="nav navbar-brand justify-content-lg-center">
            <a href="@Url.Action("MuestraProductos","Productos")"><img src="~/Content/LogoMiniatura.png" style="width:80px" /></a>
        </div>
        <div class="navbar-collapse collapse justify-content-lg-end">
            <ul class="nav navbar-nav">
                @*Usuario no autentificado*@
                @if (Session["Usuario"] == null)
                {
                    <li class="nav-item underlineHover">
                        <a class="nav-link active" href="@Url.Action("InicioClientes","Usuario")" style="font-size: large; color: #666666">
                            <span class="material-icons" style="vertical-align:middle;display:inline-flex ">person</span> Iniciar sesión
                        </a>
                    </li>
                    <li class="nav-item underlineHover">
                        <a class="nav-link active" href="@Url.Action("CarritoPrevia","Carrito")" style="font-size:large;color:#666666">
                            <span class="material-icons" style="vertical-align:middle;display:inline-flex ">shopping_cart</span> Carrito
                        </a>
                    </li>
                }
                else
                {
                    @*Usuario autentificado*@
                    <li class="nav-item underlineHover">
                        <a class="nav-link active" href="@Url.Action("CarritoPrevia", "Carrito")" style="font-size:large;color:#666666">
                            <span class="material-icons" style="vertical-align:middle;display:inline-flex ">shopping_cart</span> Carrito
                        </a>
                    </li>
                    <li class="nav-item underlineHover">
                        <a class="nav-link active" href="@Url.Action("CerrarSession", "Usuario")" style="font-size:large;color:#666666">
                            <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                meeting_room
                            </span>Cerrar sesión
                        </a>
                    </li>
                }

            </ul>
        </div>
    </div>
    @if (ViewBag.Mensaje != "" && ViewBag.Mensaje != null)
    {
        <div class="alert alert-info" role="alert" id="alertaMensajes">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <center><strong>@ViewBag.Mensaje</strong></center>
        </div>
    }
    <br /><br /><br /><br />
    <div class="container body-content">
        @RenderBody()
    </div>
    <br /><br /><br /><br />
    <footer>
        <div class="footer-content">
            <p>
                ImpecableJB
                <img src="~/Content/logo-ImpecableJB.png" style="width:30px" />
            </p>
        </div>
        <div class="footer-bottom">
            © 2020 Programación en Ambiente Web II | <a href="">Proyecto ISW-711</a>

            <div class="information">
                <a href="">Informacion del desarrollador web</a>
                | <a href="">Privacion y Politica</a> |
                <a href="">Terminos y Condiciones</a>
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/LoginSetUp.js")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</body>
</html>
