@model IEnumerable<ImpecableJB.Models.Pedido>

@{
    ViewBag.Title = "Lista de Pedidos";
}

<div class="row" style="height:100px">
    <img src="~/Content/LogoImpecable2.png" style="width:100px;height:100px;position:center" />
    <div class="col-lg-9">
        <h4 class="my-4">Lista de pedidos</h4>
        <p>Tus pedidos realizados</p>
    </div>
</div>
<br />
<hr />
<table class="table">
    <thead style="background-color:cornflowerblue; color:white;border:groove;border-color:cornflowerblue">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="border:groove;border-color:#e6e6e6">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.idPedido)
                @Html.DisplayFor(modelItem => item.fecha_hora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.nombre) @Html.DisplayFor(modelItem => item.Usuario.apellido1)
                (@Html.DisplayFor(modelItem => item.Usuario.correoElectronico))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("MuestraDetalle","DetallePedido",new { id=item.idPedido})">
                    <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                        assignment
                    </span>Detalles del pedido
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>
