@model ImpecableJB.Models.Pedido

<div class="container">
    <table class="table table-condensed">
        <thead style="background-color:cornflowerblue; color:white">
            <tr class="cart_menu">
                <th>
                    @Html.DisplayNameFor(model=>model.idPedido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.fecha_hora)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total)<br />
                    <small>*Incluye descuentos aplicados</small>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.estado)<br />
                    <small>*El pedido se encontrará pendiente hasta que formalice su pago</small>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.idPedido)
                </td>
                <td>
                    @Html.DisplayFor(model => model.fecha_hora)
                </td>
                <td>
                    @Html.DisplayFor(model => model.total)
                </td>
                <td>
                    @Html.DisplayFor(model => model.estado)
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">
                    <div>
                        @Html.ActionLink("Formalizar pedido", "FormalizarCompra",new { id=Model.idPedido}, new { @class = "btn btn-warning" })
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    </div>
