<!--Recordar poner el model cuando lo tenga listo-->
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImpecableJB - Inicio de sesión</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Login.css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body style="background: url(../../Content/the-honest-company-Ua9AK-pZ5cw-unsplash.jpg) no-repeat fixed center; background-size:cover; ">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <div class="fadeIn first">
                <img src="~/Content/logo-ImpecableJB.png" id="icon" alt="User Icon" />
            </div>
            <!-- Form para inicio de sesión-->
            <form>
                <input type="text" id="login" class="fadeIn second" name="login" placeholder="Correo electrónico">
                <div class="form-group">
                    <input type="password" id="password-field" class="fadeIn third" name="password" placeholder="Contraseña">
                    <span toggle="#password-field" class="fadeIn third fa fa-fw fa-eye field-icon toggle-password underlineHover" style="color:cornflowerblue"></span>
                </div>
                <input type="submit" class="fadeIn fourth" value="Iniciar sesión">
            </form>
            <!-- Action links para recuperar contraseña y registro por primera vez -->
            <div id="formFooter">
                @Html.ActionLink("¿Olvidó su contraseña?", "", "Login", null, new { @class = "underlineHover" })
                @Html.ActionLink("¿No tiene una cuenta? Regístrese aquí", "", "Login", null, new { @class = "underlineHover" })
            </div>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/LoginSetUp.js")
</body>
</html>
