@model IEnumerable<ImpecableJB.Models.Cupones>

@{
    ViewBag.Title = "Lista cupones";
}

<h3>Cupones ImplecableJB</h3>
<p>Esta lista contiene los cupones disponibles hasta el momento se pueden registrar cupones correspondientes a rango y producto</p>
<p>
    @Html.ActionLink("Registrar cupones", "RegistrarCupones",null,new { @class="btn btn-primary"})
</p>
<table class="table">
    <thead style="background-color:cornflowerblue; color:white;border:groove;border-color:cornflowerblue">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nivel.nombre)
        </th>
        <th width="100px">
            @Html.DisplayNameFor(model => model.Producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.promocion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th></th>
    </tr>
</thead>
    <tbody style="border:groove;border-color:#e6e6e6">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producto.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.promocion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td style="width:200px">
                <a class="btn btn-primary" href="@Url.Action("AsignarUsuario","Cupones",new { id=item.idCupones})">
                    <span class="material-icons">
                        assignment_ind
                    </span>
                </a>
                <a class="btn btn-success" href="@Url.Action("EditarCupones","Cupones",new { id=item.idCupones})">
                    <span class="material-icons">
                        edit
                    </span>
                </a>
                <a class="btn btn-danger" href="@Url.Action("EliminarCupon","Cupones",new { id=item.idCupones})">
                    <span class="material-icons">
                        delete
                    </span>
                </a>
            </td>
        </tr>
    }
        </tbody>
</table>