@model IEnumerable<ImpecableJB.Models.Cupones>

@{
    ViewBag.Title = "Muestrario de cupones";
}
    <style>
        .colorchange:hover {
            color: #003366;
        }

        .colorchang:hover {
            color: #ffff;
        }
    </style>
<div class="row">
    <div class="col-lg-3">
        <img src="~/Content/LogoImpecable2.png" />
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-9">
        <h3 class="my-4">Muestrario de Cupones</h3>
        <p>
            A continuación se presentan los cupones disponibles, los cupones que tiene accesibles aparecerán con
        </p>
        <hr />
        <div class="list-group">
            @Html.ActionLink("Todos los cupones", "MuestrarioCupones", "Cupones", new { id = Session["Usuario"] }, new { @class = "list-group-item list-group-item-action colorchang", @style = "background-color: #e6f3ff" })
            @Ajax.ActionLink("Mis cupones disponibles", "FiltrarCupones", new { id = 1 }, new AjaxOptions { UpdateTargetId = "resultado", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "list-group-item list-group-item-action colorchang", @style = "background-color: #e6f3ff" })
            @Ajax.ActionLink("Mis cupones usados", "FiltrarCupones", new { id = 2 }, new AjaxOptions { UpdateTargetId = "resultado", HttpMethod = "GET", InsertionMode = InsertionMode.Replace }, new { @class = "list-group-item list-group-item-action colorchang", @style = "background-color: #e6f3ff" })          
        </div>
        <hr />
        <br /><br />
    </div>
    <div class="row" id="resultado">
            @foreach (var item in @Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100" style="background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);">
                        <img class="card-img-top" src="@Url.Content(item.Producto.imagen)">
                        <div class="card-body">
                            <h5 class="card-title" style="text-align:center">
                                @Html.DisplayFor(modelItem => item.titulo)
                            </h5>
                            <p class="card-text" style="text-align:justify center">
                                <div class="collapse multi-collapse" id="leermas_@item.idCupones">
                                    @Html.DisplayFor(model => item.descripcion)<br />
                                    <small><b>@Html.LabelFor(model => item.idNivel): </b>@Html.DisplayFor(model => item.Nivel.nombre)</small><br />
                                    @Html.DisplayFor(modelItem => item.estado)
                                </div>
                            </p>
                        </div>
                        <div class="card-footer">
                            <center><h5>@Html.DisplayFor(modelItem => item.promocion)</h5></center>
                            <a id="leer" class="btn btn-block btn-outline-light colorchange" style="background-color:#8fc3dd" data-toggle="collapse" href="#leermas_@item.idCupones" aria-expanded="false" aria-controls="colapsableleer">
                                <span class="material-icons" style="vertical-align:middle;display:inline-flex ">
                                    card_membership
                                </span> Detalles del cupón
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
