@model ImpecableJB.Models.Usuario

@{
    ViewBag.Title = "Registro de usuarios";
}

<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 text-white text-center " style="background-color:#80aaff">
                <div class=" " >
                    <div class="card-body" >
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Registro de usuarios</h2>
                        <p>
                            Los datos a ingresar son requeridos para crear su cuenta y poder comenzar a disfrutar de los beneficios con sus compras
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
                <h4 class="pb-4">Datos del usuario</h4>
                <hr />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.apellido1, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.apellido1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellido1, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.apellido2, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.apellido2, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.apellido2, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.correoElectronico, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.correoElectronico, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.correoElectronico, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.contrasena, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "password-field", @name = "password", @placeholder = "Contraseña" } })<small style="color:cornflowerblue">Mostrar contraseña</small>
                                <span toggle="#password-field" class="fadeIn third fa fa-fw fa-eye field-icon toggle-password underlineHover" style="color:cornflowerblue"></span><br />                        
                                @Html.ValidationMessageFor(model => model.contrasena, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nivel, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <p><b>Su rango inicial es: -Sin rango- <img src="~/Content/Rangos/Sin Rango.png" style="width:40px" /><br /> No presenta beneficios por el momento puede subir de rango con compras de artículos</b></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar datos de registro" class="btn btn-primary btn-block" style="background-color: #5fbae9" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/LoginSetUp.js"></script>