@model IEnumerable<ImpecableJB.Models.Detalle_Pedido>

@{
    ViewBag.Title = "Detalle pedido";
}
@*<style>
    body {
        background: grey;
        margin-top: 120px;
        margin-bottom: 120px;
    }
</style>*@

<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body p-0">
                    <div class="row p-5">
                        <div class="col-md-6">
                            <img src="~/Content/LogoImpecable2.png" style="width:70px" />
                        </div>

                        <div class="col-md-6 text-right">
                            <h2>Detalle del pedido</h2>
                            <h4>Información detallada para el pedido</h4>
                            <hr />
                        </div>
                    </div>
                    </div>

                <div class="row p-5">
                    <div class="col-md-12">
                        @{ 
                            decimal total = 0;
                            int descuento = 0;
                        }
                        <table>
                            <thead class="table" style="background-color:#99ccff; color:white">
                                <tr>
                                    <th class="border-0 text-uppercase small font-weight-bold">Producto</th>
                                    <th class="border-0 text-uppercase small font-weight-bold"></th>
                                    <th class="border-0 text-uppercase small font-weight-bold"></th>
                                    <th class="border-0 text-uppercase small font-weight-bold"></th>
                                    <th class="border-0 text-uppercase small font-weight-bold">Cantidad</th>
                                    <th class="border-0 text-uppercase small font-weight-bold">Total</th>
                                </tr>
                            </thead>
                            @foreach (var item in Model)
                            {
                                total += (item.Producto.precio * item.cantidad);
                                descuento +=Convert.ToInt32(item.descuento * 100);
                                <tbody>
                                    <tr>
                                        <td><img src="@Url.Content(item.Producto.imagen)" style="width:60px" /></td>
                                        <td><b>@item.Producto.nombre</b><br /><p>@item.Producto.descripcion</p></td>
                                        <td></td>
                                        <td></td>
                                        <td>@item.cantidad</td>
                                        <td>@total</td>
                                    </tr>
                                </tbody>
                            }
                            </table>
                      </div>
                </div>

                    <div class="py-3 px-5 text-right">
                        <div class="mb-2">Valor del descuento</div>
                        <div class="h2 font-weight-light">@descuento %</div>
                    </div>
                </div>
            </div>
            </div>
        </div>
<p>
    <a href="@Url.Action("PedidosUsuario","Pedido")" class="btn btn-primary" style="top:15px; left:15px; position:relative;">Volver a la lista de pedidos</a>
</p>
